---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "mixins";

$background-color: #f8a434;
$highlight-color: #e86c8d;
$body-text-color: #fdfcfb;
$body-text-size: 20px;
$link-color: darken($highlight-color, 40%);
$link-hover-color: lighten($link-color, 10%);
$border-color: darken($background-color, 30%);
$footer-text-size: 0.9em;

@charset "utf-8";

body {
  background: $background-color;
  color: $body-text-color;
  font-family: "Lato", sans-serif;
  font-size: $body-text-size;
  line-height: 1.35em;
  text-align: center;
}

a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}

header .site-title {
  color: $body-text-color;
  font-size: 5em;
  font-weight: bold;
  line-height: 1em;
  text-decoration: none;
}

section,
form,
footer {
  width: 360px;
  margin: auto;
  text-align: left;
}

/**
 * The main form and info
 */
form {
  .description {
    letter-spacing: 1px;
    line-height: 1.3em;
  }

  .input {
    display: flex;
    align-items: center;
  }

  .button {
    height: 44px;
    border: none;
  }

  #email {
    width: 75%;
    background: #fdfcfb;
    font-family: inherit;
    font-size: 18px;
    color: #737373;
    letter-spacing: 1px;
    text-indent: 5%;
    border-radius: 5px 0 0 5px;
  }

  #submit {
    width: 24%;
    height: 46px;
    background: $highlight-color;
    font-family: inherit;
    font-size: 18px;
    font-weight: bold;
    color: inherit;
    letter-spacing: 1px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }

  #submit:hover {
    background: #d45d7d;
  }

  input:focus {
    outline: none;
    outline: 2px solid #e86c8d;
    box-shadow: 0 0 2px #e86c8d;
  }
}

/**
 * Footer Section
 */
footer {
  border-top: 1px solid $border-color;
  margin: 2em auto;
  p {
    font-size: 0.9em;
    line-height: 1.35em;
  }
  li {
    font-size: 0.85em;
  }
  .footer-nav {
    border-top: 1px solid $border-color;
    margin-top: 1em;
    padding: 1em 0;
    a {
      font-size: 0.7em;
    }
  }
}

/* Utility */
.flash-message {
  @include border-radius(5px);
  background-color: $highlight-color;
  display: none;
  margin: 2em 0;
  padding: 1em;
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  section,
  form,
  footer {
    width: 600px;
  }
}

/** that's all, folks **/
