<footer>
  <p>TECH404 runs on <a href="http://www.slack.com">Slack</a>, a simple and easy way for people to stay connected.</p>
  <p>If you&rsquo;d like to participate as an admin or to invite your group to the discussion, just ask one of them how to get involved.</p>
  <div class="footer-nav">
    <a href="/moderators/">The Moderators</a>
    &middot;
    <a href="https://github.com/tech404/CoC">Code of Conduct</a>
    &middot;
    <a href="https://github.com/tech404">The Github Project</a>
    &middot;
    <a href="https://github.com/tech404/RecruitmentPolicy">Recruitment Policy</a>
  </div>
</footer>
